@font-face {
    font-family: 'JosefinSans';
    src: url('../fonts/josefin=sans/static/JosefinSans-ExtraLight.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'JosefinSans-Bold';
    src: url('../fonts/josefin=sans/static/JosefinSans-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Sifonn';
    src: url('../fonts/sifonn-cufonfonts/SIFONN_PRO.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

header, #grouping h1, .section2 h1, .section3 h2{
    font-family:'Sifonn', normal, normal;
}

#grouping h3, #grouping h2, .section2 h3, .section4{
    letter-spacing: 3px;
    line-height: 130%;
    font-family:'JosefinSans', normal, normal;
}
