header{
    display: flex;
    align-items: stretch;
}

.section1{
    background-image: url(../img/background1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;
}

.section2{
    background-color: #A60522;
}

.section3{
    background-image: url(../img/background2.png);
}

.section4{
    color: #F2F2F2;
    background-color: #0D0D0D;
}