.section1{
    background-image: url(../img/background1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;
}

header{
    display: flex;
    align-items: stretch;

    border-style: solid;
    border-bottom-width: 4px;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-color: #A60522;
}

header #title{
    margin-left: 10%;
    margin-right: auto;

    color: #A60522;
    font-size: 30px;
}

header #submenu{
    display: flex;
    align-items: stretch;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;

    margin-right: 7%;
    margin-left: auto;

    color: #A60522;
    font-size: 20px;
}

header img{
    max-width:15px;
    max-height:15px;
    width: auto;
    height: auto;

    margin-left: 1px;
}

header div{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items:center;
}

#grouping{
    display: flex;
    align-items: baseline;

    display: grid;
    grid-template-rows: 2fr 4fr 5fr;

    color: #A60522;
    font-size: 20px;

    margin-left: 10%;
    margin-right: 50%;
}

#grouping h3{
    margin-top: 20%;
    margin-bottom: 0px;
    font-size: 22.8px;
}

#grouping h1{
    margin-top: 35px;
    margin-bottom: 0px;
    font-size: 84.6px;
}

#grouping h2{
    margin-top: 0px;
    font-size: 26.2px;
    color: #0D0D0D;
}

.section2{
    background-color: #A60522;
}

.section2 h3{
    padding-top: 60px;
    margin-top: 0px;
    margin-left: 10%;
    margin-right: auto;

    color: #FFFFFF;
    font-size: 22.8px;
}

.section2 h1{
    margin-top: 0px;
    margin-left: 10%;
    margin-right: auto;

    color: #FFFFFF;
    font-size: 50px;
}

.section2 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.section2 #arrow{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
}

.section3{
    background-image: url(../img/background2.png);
}

.section3 h2{
    padding-top: 300px;
    padding-right: 35%;
    padding-bottom: 250px;
    margin-top: 0px;
    margin-left: 10%;
    margin-right: auto;

    color: #0D0D0D;
    font-size: 84.6px;
}

.section4{
    color: #F2F2F2;
    background-color: #0D0D0D;
}

.section4 img{
    max-width:150px;
    max-height:150px;
    width: auto;
    height: auto;

    margin-left: 1px;
}

.section4 h2, .section4 h3, .section4 h4{
    margin-top: 0px;
    margin-left: 10%;
    margin-right: auto;

    color: #FFFFFF;
    font-size: 50px;
}